__HOMEWORK 1__
<br>
Full Name: Nguyễn Thị Minh Ngọc
<br>
Student ID: 11219280
<br>
Class: DSEB 63

## Exercise 2

In [1]:
print("Twinkle, twinkle, little star,\
      \n\tHow I wonder what you are!\
      \n\t\tUp above the world so high,\
      \n\t\tLike a diamond in the sky.\
      \nTwinkle, twinkle, little star,\
      \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

## Exercise 3

In [2]:
print("\tI'm tabbed in.\nI'm split\non a line. \nI'm \\ a \\ cat.\n\nI'll do a list:\n\t* Cat food\n\t* Fishes\n\t* Catnip\n\t* Grass")

	I'm tabbed in.
I'm split
on a line.
I'm \ a \ cat.

I'll do a list:
	* Cat food
	* Fishes
	* Catnip
	* Grass

## Exercise 4

In [3]:
number1 = 40
number2 = 30
product12 = number1*number2
sum12 = number1 + number2
print("Product: {}\n    Sum: {}".format(product12, sum12))

Product: 1200
    Sum: 70

## Exercise 5

In [4]:
name1 = 'Book'
price1 = 49.95
name2 = 'Computer'
price2 = 579.99
name3 = 'Monitor'
price3 = 124.89
print("*"*50)
print("\t\tCoding Temple, Inc.\n\t\t283 Franklin St.\n\t\tBoston, MA")
print("="*50)
print("\tProduct Name\tProduct Price\n\t{}\t\t${}\n\t{}\t${}\n\t{}\t\t${}".format(name1, price1, name2, price2, name3, price3))
print("="*50)
total = price1 + price2 + price3
print("\t\t\tTotal\n\t\t\t${}".format(total))
print("="*50)
print("\n\tThanks for shopping with us today!\n")
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Book		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

## Exercise 6

In [5]:
name1 = 'Book'
price1 = 49.95
name2 = 'Computer'
price2 = 579.99
name3 = 'Monitor'
price3 = 124.89
print("*"*52)
print("*\t\tCoding Temple, Inc.\t\t   *\n*\t\t283 Franklin St.\t\t   *\n*\t\tBoston, MA\t\t\t   *")
print("*","*", sep = "="*50)
print("*\tProduct Name\tProduct Price\t\t   *\n*\t{}\t\t${}\t\t\t   *\n*\t{}\t${}\t\t\t   *\n*\t{}\t\t${}\t\t\t   *".format(name1, price1, name2, price2, name3, price3))
print("*","*", sep = "="*50)
total = price1 + price2 + price3
print("*\t\t\tTotal\t\t\t   *\n*\t\t\t${}\t\t\t   *".format(total))
print("*","*", sep = "="*50)
print("*", "   *", sep = "\t"*6,)
print("*\tThanks for shopping with us today!\t   *")
print("*", "   *", sep = "\t"*6,)
print("*"*52)

****************************************************
*		Coding Temple, Inc.		   *
*		283 Franklin St.		   *
*		Boston, MA			   *
*==================================================*
*	Product Name	Product Price		   *
*	Book		$49.95			   *
*	Computer	$579.99			   *
*	Monitor		$124.89			   *
*==================================================*
*			Total			   *
*			$754.83			   *
*==================================================*
*						   *
*	Thanks for shopping with us today!	   *
*						   *
****************************************************

## Exercise 7

In [6]:
sample = "Twinkle, twinkle, little star, How I wonder what you are! Up above the \
world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what \
you are"
count = len(sample)
print("Given string: {}\n\n>>> Length of given string: {}".format(sample, count))

Given string: Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are

>>> Length of given string: 169

## Exercise 8

In [7]:
print("My", "Name", "Is", "James", sep = "**")

My**Name**Is**James

## Exercise 9

In [8]:
number3 = 458.541315
print("Initial Number: {}".format(number3))
print("\n>>> Display this number with 2 decimal place: {:.2f}".format(number3))

Initial Number: 458.541315

>>> Display this number with 2 decimal place: 458.54

## Exercise 10

In [9]:
#Input properties of products
print(">>> Input:\n")
print("Product 1:")
name1b = input("\tName: ")
price1b = float(input("\tPrice: $"))
print("Product 2:")
name2b = input("\tName: ")
price2b = float(input("\tPrice: $"))
print("Product 3:")
name3b = input("\tName: ")
price3b = float(input("\tPrice: $"))

#Print the result
print("\n>>> Output:\n")
print("*"*50)
print("\t\tCoding Temple, Inc.\n\t\t283 Franklin St.\n\t\tBoston, MA")
print("="*50)
print("\tProduct Name\tProduct Price\n\t{}\t\t${}\n\t{}\t${}\n\t{}\t\t${}".format(name1b, price1b, name2b, price2b, name3b, price3b))
print("="*50)
totalb = price1b + price2b + price3b
print("\t\t\tTotal\n\t\t\t${}".format(totalb))
print("="*50)
print("\n\tThanks for shopping with us today!\n")
print("*"*50)

>>> Input:

Product 1:
Product 2:
Product 3:

>>> Output:

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Book		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************